<% if @room.step == "before_start" %>
  게임 시작 전

  <% if current_user == @guardian.user %>
      <%= link_to '게임 시작', game_start_room_path(@room), method: :post, id: "zombie_game_start_button" %>
  <% else %>
    <%= link_to current_user.is_ready(@room) ? "레디완료" : "레디하기", toggle_ready_path(@room), method: :post %><br>
  <% end %>

<% elsif @room.step == "zombie_start" %>
  좀비게임 시작


  <div id="zombie_before_round">
    <% if @player.state == "first_zombie" %>
      당신은 좀비 입니다.
    <% else %>
      당신은 인간 입니다.
    <% end %>

    <%= link_to '라운드1 시작', zombie_round1_room_path(@room), method: :post %>
  </div>


<% elsif @room.step == "zombie_round1" %>


  좀비게임 라운드 1

  <%= render partial: "zombie_user_list" %><br>

  <%= link_to '라운드2 시작', zombie_round2_room_path(@room), method: :post %>


<% elsif @room.step == "zombie_round2" %>


  좀비게임 라운드 2

  <%= render partial: "zombie_user_list" %><br>

  <%= link_to '라운드3 시작', zombie_round3_room_path(@room), method: :post %>


<% elsif @room.step == "zombie_round3" %>


  좀비게임 라운드 3

  <%= render partial: "zombie_user_list" %><br>

  <%= link_to '게임 종료', zombie_end_room_path(@room), method: :post %>


<% elsif @room.step == "zombie_end" %>


  좀비게임 종료

  라운드 바뀔 때 터치 안했어도 좀비 안바뀌는거 고치자 성원아


<% end %>
