<!DOCTYPE html>
<html>
  <head>
    <title>Genius Lion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': false %>
  </head>

  <%= link_to '홈으로', root_path %>
  <% if user_signed_in? %>
    <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
    <%= link_to '회원정보수정', edit_user_registration_path %>
  <% else %>
    <%= link_to '로그인', before_sign_in_path %>
    <%= link_to '회원가입', new_user_registration_path %>
  <% end %><br>

  <body>
    <%= yield %>
    <script type="text/javascript">
      var currentUser = <%= raw current_user.to_json %>
    </script>
  </body>
</html>
